/*-----------------ここからトップ-----------------*/
.top p{
  clear: both;
}
.top{
  margin:60px 0;
  display:block;
  background-image: url("../images/top3.jpg");
  background-size: cover;
  height: 0;
  padding-bottom: 46.8%;
}
/*-----------------ここまでトップ--------------------*/

/*-----------------ここからメインコンテンツ-----------------*/

.article img{
  width: 100%;
}
.twitter{
  height: 400px;
}
@media(min-width:670px){
  .articles{
    width: 60%;
    float:left;
    padding-right: 3%;
  }
  .twitter{
    width:40%;
    float:left;
  }
}
/*-----------------ここまでメインコンテンツ-----------------*/
